

.header-mobile {
    display: flex;
    position: relative;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 360px;
    height: 32px;
    margin: 0 auto;
    padding-top: 43px;

    z-index: 2;
}

.header-desktop {
    display: none;
}

.header-mob-img {
    width: 35px;
    height: 32px;
}

.section-header {
    padding-bottom: 15px;
}

.plan-your-trip {
    display: flex;
    /* justify-content: center; */
    align-items: center;
    width: 100%;
    height: 176px;
    margin-top: -75px;
    padding-top: 75px;
    background-image: url(./images/garrett-parker-DlkF4-dbCOU-unsplash-2.jpeg);
}

.plan-y-t-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    margin: 0;
}

#plan-text-1 {
    display: none;
}

#plan-text-2 {
    display: none;
}

.search-container {
    width: 360px;
    height: 48px;

    margin: 67px 15px 0px;
}

.search-container {
    width: 360px;
    height: 48px;
    margin: 67px 15px 61px;
}

.plansearch-text {
    width: 226.01px;
    height: 11.12px;
   
    font-family: 'Aleo';
    font-style: italic;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;

    color: #F2785C;
}

.plansearch-button {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 10px 32px;
    gap: 10px;

    width: 92px;
    height: 30px;
   
    background: #0D606F;
    box-shadow: 0px 0px 3px rgba(13, 96, 111, 0.08), 0px 2px 3px rgba(13, 96, 111, 0.16);
    border-radius: 10px;
}

.plansearch-button-text {
    width: 74px;
    height: 15px;

    font-family: 'Red Hat Text';
    font-style: normal;
    font-weight: 500;
    font-size: 11px;
    line-height: 15px;

    display: flex;
    align-items: center;

    color: #FFFFFF;
}

h3 {
    width: 214px;
    height: 19px;

    font-family: 'Red Hat Text';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 19px;

    color: #F2785C;
}

.steps {
    display: flex;
    justify-content: space-between;
    align-items: center;
    
    padding: 20px;
}

.steps-container {
    display: flex;
    justify-content: space-around;
    margin: 0;
    width: 100%;
    height: 154px;
}

.steps-square {
    width: 70px;
    height: 70px;
}

.steps-mobile-img {
    width: 40px;
    height: 30px;
}

.steps-text {
    width: 94px;
    height: 22px;

    font-family: 'Aleo';
    font-style: normal;
    font-weight: 400;
    font-size: 10px;
    line-height: 12px;

    color: #0D606F;
}

.display-none {
    display: none;
}

.destinations {
    display: flex;
    padding: 0;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    overflow: hidden;
}

.destinations-desktop {
    display: none;
}

.destinations-mobile {
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    align-items: center;
}

.destinations-slide-image {
    width: 100%;
    border-radius: 10px;
}

.destinations-slider-mobile {
    width: 360px; 
}

.destinations-slider-container {
    display: flex;
    /* padding-top: 100px; */
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin-top: 25px;
    overflow: hidden;
    background-image: url(./images/Rectangle-26.jpeg);
    width: 360px;
    height: 289px;
}

.destinations-button {
    display: flex;
    justify-content: center;
    align-items: center;
    
    gap: 10px;
    
    width: 92px;
    height: 30px;
    
    background: #0D606F;
    box-shadow: 0px 0px 3px rgba(13, 96, 111, 0.08), 0px 2px 3px rgba(13, 96, 111, 0.16);
    border-radius: 10px;
    cursor: pointer;
}

.stories {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 1rem; 
}

#stories-button {
    display: flex;
    justify-content: center;
    align-items: center;
    
    gap: 10px;
    width: 92px;
    height: 30px;
    
    background: #0D606F;
    box-shadow: 0px 0px 3px rgba(13, 96, 111, 0.08), 0px 2px 3px rgba(13, 96, 111, 0.16);
    border-radius: 10px;

    cursor: pointer;
}

#stories-button-arrow {
    width: 10px;
    height: 10px;
    margin-right: 10px;
    flex: none;
    order: 0;
    flex-grow: 0;
}

#stories-button-text {
    height: 32px;
    font-family: 'Red Hat Text';
    font-style: normal;
    font-weight: 500;
    line-height: 32px;
    color: #FFFFFF;
    flex: none;
    order: 1;
    flex-grow: 0;
}

.stories-background-image {
    background-image: url(./images/bg.jpg);
    width: 100%;
    margin-bottom: -90px;
   
    padding-bottom: 70px;
}

.stories-background-overlay {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 10px;
    padding-bottom: 10px;
    background: rgba(255, 255, 255, 0.7);
}

.story {
    display: flex;
    width: 90%;
    justify-content: center;
    align-items: center;
    margin-bottom: 10px;
}

.story-text {
    display: flex;
    flex-direction: column;
    padding-left: 20px;
    width: 760px;
    font-family: 'Aleo', serif;
    font-weight: 600;
    font-size: 10px;
    line-height: 10px;
    color: #0D606F;
}

.story-content-desktop {
    display: none;
}

.story-content-mobile {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    width: 100%;
    /* height: 184px; */
    margin-top: 10px;
    font-family: 'Aleo', serif;
    font-style: normal;
    font-weight: 400;
    font-size: 10px;
    text-align: justify;
    line-height: 12px;
    color: #0D606F;
}

.story-image {
    display: none;
}

.mobile-story-image {
    display: flex;
    border-radius: 10px;
}

#footer-school-links {
    display: none;
}

#footer-description {
    display: none;
}
